<div class="footer-nav">
    <a routerLink='home' routerLinkActive='active'>
        <mat-icon>home</mat-icon>
    </a>
    <a routerLink='search' routerLinkActive='active'>
        <mat-icon>search</mat-icon>
    </a>
    <a routerLink='profile' routerLinkActive='active'>
        <mat-icon>account_box</mat-icon>
    </a>
    <a routerLink='notifications'>
        <mat-icon matBadge="7" matBadgeColor="warn">add_alert</mat-icon>
    </a>
    <a routerLink='settings' routerLinkActive='active'>
        <mat-icon>settings</mat-icon>
    </a>
</div>
